<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MinersSection" type="XzonControlPanel.Config.MinersSection, XzonControlPanel"/>
    <section name="ChannelsSection" type="XzonControlPanel.Config.ChannelsSection, XzonControlPanel"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Launch Xzon Control Panel on Computer Startup -->
    <add key="LaunchOnStartup" value="false"/>
    <!-- Start the Miner Sub Process(es) on Startup -->
    <add key="StartMinerOnStartup" value="true"/>
    
    <!-- Xzon Web Name Display and Command Password -->
    <add key="RigName" value="XzonUser"/>
    <!-- Command Password is used to authenticate web commands -->
    <add key="CommandPassword" value="0000"/>

    <!-- GPU temperature in celsius at which the miner permanently shuts down and sends a failure email. -->
    <add key="MaxGpuTemperature" value="75"/>

    <!-- GPU temperature in celsius at which to display it as Yellow on both client and web-->
    <add key="WarningGpuTemperature" value="67"/>

    <!-- 
        Alert Email: This should be an email address you control that will send outgoing emails.
        If you are unsure of this, create a new gmail account that will alert your main email and put the credentials here.
        If your gmail account needs 2FA, look into enabling less secure applications and creating an application password.
    -->
    <add key="AlertEmailAddress" value=""/>
    <add key="AlertEmailPassword" value=""/>
    <add key="AlertEmailSmtpServer" value="smtp.gmail.com"/>
    <add key="AlertEmailSmtpPort" value="587"/>
    <add key="AlertEmailSmtpEnableSsl" value="true"/>

    <!-- Reboot the machine if the miner has been paused too long -->
    <add key="RebootAfterPausedXMinutes" value="0"/>
    <!-- 0 if you don't want reboot -->

    <!-- Alert Receiver: This should be the email you wish to receive alerts on. -->
    <!-- Feel free to send SMS to your phone by using your carrier's specialized email address. US Carrier defaults are below. -->
    <!-- List is comma delimeted-->
    <add key="EmailAddressToAlert" value="" />
    <add key="EmailOnWarning" value="false" />
    <add key="EmailOnError" value="false" />

    <!-- Screenshots for Warnings/Errors -->
    <add key="ScreenshotOnWarning" value="false"/>
    <add key="ScreenshotOnError" value="false"/>
    <add key="ScreenshotDirectory" value="Screenshots"/>
    
    <!-- Enable this to see all output from the Sub Process(es) -->
    <add key="VerboseOutput" value="false"/>
    
    <!-- Monitoring Server, beta features and developers -->
    <!--<add key="MonitoringServer" value="https://xzon.net:1443"/>-->
  
  </appSettings>
  <MinersSection>
    <Miners>
      <!--
      Notes: 
      -Ratio scales based on sum of all ratios. 
      -Web is sorted based on currencyCode. 
      -Zcash can be ZEC, Ethereum can be ETH.
      -hashrateWarning alerts console.
      -hashrateError restarts miner.
      -->

	  <!-- Your Ethereum - Fix the address to match your wallet! -->
	  <add name="Ethereum" 
          exeLocation="External\ethminer-0.12.0\ethminer.exe"
          commandLineParameters="--farm-recheck 200 -U -S us1.ethermine.org:4444 -RH -O 0x2a81ACbF488BD7CC169425aE878758992b930dFB.XzonUser"
          ratio="99.00"
          currencyCode="ETH"
          hashrateWarning="2"
          hashrateError="1"
		  />
	  
      <!-- Ethereum Example/Donation Address -->
      <add name="EthereumXzonDonation"
          exeLocation="External\ethminer-0.12.0\ethminer.exe"
          commandLineParameters="--farm-recheck 200 -U -S us1.ethermine.org:4444 -RH -O 0x2a81ACbF488BD7CC169425aE878758992b930dFB.XzonUser"
          ratio="1.00"
          currencyCode="ETH"
          hashrateWarning="2"
          hashrateError="1"
		  />
    </Miners>
  </MinersSection>
  <ChannelsSection>
    <Channels>
      <add name="xzon"
           password="xzon"
           showRigName="true"
           isTrustedChannel="false"
           showWalletAddress="false"
           showMiningPool="false"
           showSchedule="true"
           />
      <!-- Your custom trusted channel - Trusted Channels allow for executing remote commands with the Rig Password --> 
      <!--<add name="YourChannelName"
           password="YourPassword"
           showRigName="true"
           isTrustedChannel="true"
           showWalletAddress="true"
           showMiningPool="true"
           showSchedule="true"
           />-->
    </Channels>
  </ChannelsSection>
</configuration>

<!-- Alert Info if you wish to send SMS via email, this list is for US carriers -->
<!--
      Eg: Your cell phone is 555-555-5555 on AT&T Wireless
      <add key="emailAddressToAlert" value="5555555555@txt.att.net"/>
    
      Alltel Wireless	
        mobile-number@message.Alltel.com (SMS & MMS)
        mobile-number@text.wireless.alltel.com (SMS)
        mobile-number@mms.alltel.net (MMS)
      AT&T Wireless
        mobile-number@txt.att.net (SMS)
        mobile-number@mms.att.net (MMS)
      AT&T Mobility (formerly Cingular)
        mobile-number@cingularme.com
        mobile-number@mobile.mycingular.com
      Boost Mobile
        mobile-number@myboostmobile.com
      Cricket	
        mobile-number@sms.mycricket.com (SMS)
        mobile-number@mms.mycricket.com (MMS)
      Metro PCS	
        mobile-number@mymetropcs.com
      Sprint (PCS)
        mobile-number@messaging.sprintpcs.com SMS)
        mobile-number@pm.sprint.com (MMS)
      Sprint (Nextel)
        mobile-number@page.nextel.com (SMS)
        mobile-number@messaging.nextel.com (Rich Messaging)
      Straight Talk
        mobile-number@VTEXT.COM (SMS)
        mobile-number@mypixmessages.com (MMS)
       T-Mobile
        mobile-number@tmomail.net (MMS)
      U.S. Cellular
        mobile-number@email.uscc.net (SMS)
        mobile-number@mms.uscc.net (MMS)
      Verizon	mobile-number@vtext.com (SMS)
        mobile-number@vzwpix.com (MMS)
      Virgin Mobile	mobile-number@vmobl.com (SMS)
        mobile-number@vmpix.com (MMS)
    -->